<!-- nodes and parameters for reflex -->
<launch>
    <include file="$(find reflex)/launch/reflex.launch"/>
    <node name="buttons"   pkg="dococ"     type="raw_button_publisher.py" output="screen" respawn="true"/>
    <node name="wrapper"   pkg="dococ"     type="beta_wrapper.py"           output="screen" respawn="true"/>
</launch>
